.main{
    background: #f8f9fb;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.container{
    width: 500px;
    height: auto;
    padding: 1rem;
    border-radius: 8px;
    background: #1a2332;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container section{
    padding: 10px;
}

.container h1{
    font-size: 1.5rem;
    color: #f8f9fb;
}

.container p {
    font-size: 1.25rem;
    color: #f8f9fb;
}