.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem  1rem;
  background: transparent;
}

.navbarLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

}

.navberLinksTitle{
  color: #f8f9fb;
}

.navbarLinks a {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.95;
    color: #f8f9fb;
    transition: opacity 0.2s ease-in;
}

.navbarLinks a:hover{
  color: #ffffff;
  text-decoration: underline;
}

.navRight{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}