.contact p{
    font-size: 1.25rem;
}

.quote p{
    font-size: 1.25rem;
}

.quoteform{
    height: auto;
    width: 600px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.formtop{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 100%;

}


.formbottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.formdescription{
    height: 100px;
}