.history p{
  font-size: 1.25rem;
}

.history span {
    color: #ff6b35;
}

.legal{
  background: #1a2332;
}

.legal h1{
  color: #f8f9fb;
}

.legal p{
  color: #f8f9fb;
}



.legal ol{
  list-style: none;
}

.legal li {
  position: relative;
  padding-left: 15px;
  color: #f8f9fb;
}

.legal li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #ff6b35;
}

.future p{
  font-size: 1.25rem;
}