.hero{
  display: flex;
  flex-direction: column;
  background: url("/images/maka2.jpg");
  background-position: center;
  background-color: rgba(2, 12, 52, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  height: 70vh;
  
}

.heroContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.heroInfo{
  text-align: center;
}

.title{
  color: #f8f9fb;
}
.description{
  color: #f8f9fb;
}

.heroCtas{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.who{
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.mission{
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.work{
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  
}

.quickContact{
   padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}