.hplcCta {
  background: #ff6b35;
  color: #f8f9fb;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
}

.hplcCta:hover {
  border: 2px solid #f8f9fb;
}
