.hplcCta {
  background: #ff8c42;
  color: #f8f9fb;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: ease 0.3s;
  display: inline-block;
  text-align: center;
}

.hplcCta:hover {
  border: 2.5px solid #f8f9fb;
}
